div {
	height:50px;
	width:100%;
	background-color:black;
	text-align: center;
}
body {
	padding:0;
	margin:0;
}
table {
	height:50px;
}
th {
	color:#2D6784;
	font-size:40px;
	font-family:Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
a {
	color:#2D6784;
	text-decoration:none;
}